@{
    ViewData["Title"] = "Home";
}

<!-- start banner Area -->
<section class="banner-area relative" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-start">
            <div class="banner-content col-lg-12">
                <h6>Reserva tu ruta a caballo</h6>
                <span class="bar"></span>
                <h1 class="text-white">
                    Bienvenidos a nuestra Hípica <br>


                </h1>
                <a href="https://localhost:44309/Validacion/Registrar" class="genric-btn">Registrate</a>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->
<!-- Start about-video Area -->
<section class="about-video-area section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 about-video-left">
                <h6 class="text-uppercase">Rutas para todos los niveles</h6>
                <h1>
                    Así son nuestras rutas <br>
                    ¿Quieres conocernos?
                </h1>
                @*<p>
                        <span>We are here to listen from you deliver exellence</span>
                    </p>*@
                <p>
                    Estamos en Toledo
                </p>
                <a class="primary-btn" href="#">Experiencias</a>
            </div>
            <div class="col-lg-6 about-video-right justify-content-center align-items-center d-flex">
                <a class="play-btn" href="https://www.youtube.com/watch?v=677Co1PexiY"><img class="img-thumbnail m-auto" src="~/img/videopresen.png" alt=""></a>
            </div>
        </div>
    </div>
</section>

<!-- End home-about Area -->
<!-- Start price Area -->
<section class="price-area section-gap">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Elige tu mejor opción</h1>
                    <p>Resgistrate y reserva tu ruta</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="single-price">
                    <div class="top-part">
                        <h1 class="package-no">01</h1>
                        <h4>Ruta Paseo</h4>
                        <p>Si quieres empezar</p>
                    </div>
                    <div class="package-list">
                        <ul>
                            <li>Iniciación</li>
                            <li>Ruta por sendas al paso</li>
                            <li>Nivel principiante</li>
                            <li>1h de duración</li>
                        </ul>
                    </div>
                    <div class="bottom-part">
                        <h1>20€</h1>
                        <a class="price-btn text-uppercase" href="https://localhost:44309/Validacion/Registrar">Reservar</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single-price">
                    <div class="top-part">
                        <h1 class="package-no">02</h1>
                        <h4>Ruta al paso</h4>
                        <p>Espectacular paseo por Cabañeros</p>
                    </div>
                    <div class="package-list">
                        <ul>
                            <li>Paseo por Monte</li>
                            <li>Nivel principiante</li>
                            <li>1h de duración</li>
                        </ul>
                    </div>
                    <div class="bottom-part">
                        <h1>20€</h1>
                        <a class="price-btn text-uppercase" href="https://localhost:44309/Validacion/Registrar">Reservar</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single-price">
                    <div class="top-part">
                        <h1 class="package-no">03</h1>
                        <h4>Ruta al trote</h4>
                        <p>Para niveles intermedios</p>
                    </div>
                    <div class="package-list">
                        <ul>
                            <li>Trote por sendas</li>
                            <li>Nivel Intermedio</li>
                            <li>1h de duración</li>
                        </ul>
                    </div>
                    <div class="bottom-part">
                        <h1>20€</h1>
                        <a class="price-btn text-uppercase" href="https://localhost:44309/Validacion/Registrar">Reservar</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single-price">
                    <div class="top-part">
                        <h1 class="package-no">04</h1>
                        <h4>Ruta por ríos</h4>
                        <p>Para niveles intermedios</p>
                    </div>
                    <div class="package-list">
                        <ul>
                            <li>Bajada al río cruzándolo</li>
                            <li>Nivel Intermedio</li>
                            <li>2h de duración</li>
                        </ul>
                    </div>
                    <div class="bottom-part">
                        <h1>30€</h1>
                        <a class="price-btn text-uppercase" href="https://localhost:44309/Validacion/Registrar">Reservar</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single-price">
                    <div class="top-part">
                        <h1 class="package-no">05</h1>
                        <h4>Ruta a galope</h4>
                        <p>Nivel avanzado</p>
                    </div>
                    <div class="package-list">
                        <ul>
                            <li>Galope por sendas y baño en charca con caballos</li>
                            <li>Nivel avanzado</li>
                            <li>2h de duración</li>
                        </ul>
                    </div>
                    <div class="bottom-part">
                        <h1>30€</h1>
                        <a class="price-btn text-uppercase" href="https://localhost:44309/Validacion/Registrar">Reservar</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single-price">
                    <div class="top-part">
                        <h1 class="package-no">06</h1>
                        <h4>Ruta y baño con caballos</h4>
                        <p>Nivel avanzado</p>
                    </div>
                    <div class="package-list">
                        <ul>
                            <li>Ruta y baño con caballos en pleno corazon de los Montes de Toledo</li>
                            <li>Nivel avanzado</li>
                            <li>2h de duración</li>
                        </ul>
                    </div>
                    <div class="bottom-part">
                        <h1>30€</h1>
                        <a class="price-btn text-uppercase" href="https://localhost:44309/Validacion/Registrar">Reservar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End price Area -->
